* {
  font-family: 'Mulish', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

html {
  background-color: #EAE3EB;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  margin: 50px 200px 50px 200px;    
  background-color: #FFFFFF;
  border-radius: 50px;
  /* min-height: 900px; */
  
}

h2 {
  font-size: 100px;
  color: white;
  font-weight: 100;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.img-container {
  display: flex;
  flex-direction: column;
  background-color:#74AFF3 ;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  max-width: 100%;
  border-radius: 50px 0px 0px 50px; 
  padding: 50px; 
}

.img-left {  
  height: 70%; 
}

.login-container {
  display: flex;
  flex-direction: column;  
  padding: 50px;
}

.right {
  text-align: end;
}

.default-text {
  
  color: #828283;
}

a {
  text-decoration: none;
  color: #74AFF3;
  font-weight: 800;
}

h1 {
  font-size: 40px;
  margin: 40px 0px 40px 0px ;
}

.label-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.pass-confirm-container {
  display: inline-flex; 
  gap: 20px; 
}

.up-down {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.side-side {
  display: flex;
}

.label-field {
  height: 50px;
  border: none;
  background-color: #ececec;
  border-radius: 8px;
  margin-bottom: 25px;
  padding: 10px;
  font-size: 18px;
}

.checkbox-style {
  width: 20px; 
  height: 20px;
  margin-right: 10px;
}

.main-button {
  height: 50px;
  border: none;
  color: white;
  background-color: #74AFF3;
  border-radius: 8px;
  margin: 25px 0 25px 0 ;
  padding: 10px;
  font-size: 25px;
}

#linha-ou {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1px;
  background: #ececec;
}

#linha-ou::before,
#linha-ou::after {
  content: "";
  flex: 1;
  height: 2px;
  background: #ececec;
}

#linha-ou span {
  padding: 0 10px;
  color: #828283;  
  font-size: 16px;
  background: white;
  z-index: 1;
}

.other-account-login {
  display: flex;
  padding: 10px 10px 10px 40px;
  background-color: transparent;
  border: 1px solid #82828381;
  border-radius:  20px;
  height: 65px;
  margin-top: 40px;
  gap: 140px;
}

.text-social-media { 
  display: flex;   
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -1.5px;
}
